@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@500;600;700&display=swap");

@font-face {
  font-family: "Pretendard:Medium";
  font-weight: 500;
  src:
    local("Pretendard Medium"),
    url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard:SemiBold";
  font-weight: 600;
  src:
    local("Pretendard SemiBold"),
    url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard:Bold";
  font-weight: 700;
  src:
    local("Pretendard Bold"),
    url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Noto_Sans_Devanagari:Medium";
  font-weight: 500;
  src: local("Noto Sans Devanagari Medium"), local("Noto Sans Devanagari");
}

@font-face {
  font-family: "Noto_Sans_Devanagari:SemiBold";
  font-weight: 600;
  src: local("Noto Sans Devanagari SemiBold"), local("Noto Sans Devanagari");
}
